In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import os
import calendar

In [40]:
#paths to kiki and will data 
k_disc_path = r"C:\Users\willd\OneDrive\Desktop\Budget\statements\kiki_disc"
k_chase_path = r"C:\Users\willd\OneDrive\Desktop\Budget\statements\kiki_chase"
k_ally_path = r"C:\Users\willd\OneDrive\Desktop\Budget\statements\kiki_ally"

In [59]:
# combine all csvs in a path return df  // with no duplicates 
def combine_csvs(path):
    df_list = []
    for item in os.listdir(path):
        full_path = os.path.join(path, item)
        df = pd.read_csv(full_path)
        df_list.append(df)
    combined = pd.concat(df_list)
    combined.columns.values[0] = "Date"
    no_dup = combined.drop_duplicates()
    return no_dup
# remove specific payments from a df
def remove_item(df, descript):
    remove_df = df[~df[''].str.cont]
# reformat to only date amount desc, category columns
def column_remove(df):
    df.columns = df.columns.str.replace(' ', '') 
    if 'Category' not in df.columns:
        df["Category"] = ' '
    new = df[['Date', 'Amount', 'Description', 'Category']]
    return new

In [60]:
k_disc = column_remove(combine_csvs(k_disc_path))
k_chase = column_remove(combine_csvs(k_chase_path))
k_ally = column_remove(combine_csvs(k_ally_path))

In [57]:
k_chase

           Date  Amount                Description           Category
0    12/28/2023  -25.00   WALL NAILS &amp; SPA LLC           Personal
1    12/27/2023  -43.54                  LEVIS.COM           Shopping
2    12/21/2023   -5.00                UBER   TRIP             Travel
3    12/21/2023  -42.73                UBER   TRIP             Travel
4    12/19/2023  -21.23  SQ *PANGEA COFFEE ROASTER       Food & Drink
..          ...     ...                        ...                ...
332  11/23/2022  -40.29     EXXONMOBIL    97360424                Gas
333  11/20/2022 -375.20  UNITED      0162448104683             Travel
334  11/19/2022  -10.00       UNIVERSITY HOSPITALS  Health & Wellness
335  11/20/2022 -322.07      REI.COM  800-426-4840           Shopping
336  11/19/2022 -169.55       ALDI 63060 LYNDHURST          Groceries

[337 rows x 4 columns]